<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fast.take.mapper.StationMapper">

    <!-- 定义 Station实体类与数据库表的映射关系 -->
    <resultMap id="StationResult" type="Station">
        <result property="stationId" column="station_id"/>
        <result property="name" column="name"/>
        <result property="sort" column="sort"/>
    </resultMap>

    <!--查询快递站点列表, 并根据排序字段正序排序-->
    <select id="selectStationList" parameterType="Station" resultMap="StationResult">
        select station_id, name, sort
        from station
        <where>
            <if test="name != null and name != ''"> and name like concat('%', #{name} ,'%') </if>
        </where>
        order by sort
    </select>

    <!--获取快递站点详细信息-->
    <select id="selectStationByStationId" parameterType="String" resultMap="StationResult">
        select station_id, name, sort
        from station
        where station_id = #{stationId}
    </select>

    <!--新增快递站点-->
    <insert id="insertStation" parameterType="Station">
        insert into station
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stationId != null">station_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="sort != null">sort,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="stationId != null">#{stationId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="sort != null">#{sort},</if>
        </trim>
    </insert>

    <!--修改快递站点-->
    <update id="updateStation" parameterType="Station">
        update station
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null || name != ''">name = #{name},</if>
            <if test="sort != null">sort = #{sort},</if>
        </trim>
        where station_id = #{stationId}
    </update>

    <!--删除快递站点-->
    <delete id="deleteStation" parameterType="String">
        delete from station where station_id in
        <foreach collection="array" item="stationId" open="(" separator="," close=")">
            #{stationId}
        </foreach>
    </delete>

</mapper>
